<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		</br>
		<form action="/noticias/salvar" method="post">
			<label>Títulos</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da notícia"></input>
		    </br>
			<label>Notícia</label>
			<textarea name="noticia" id="noticia" cols="21" rows="10"></textarea>
			</br>
			<input type="submit" value="Enviar"/>

		</form>


	</body>
</html>