<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar Notícia</h1>
		</br>
		<form action="/noticias/salvar" method="post">
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da notícia"></input>
		    
		</br>
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" placeholder="Resumo da notícia"></input>
		    
		</br>
			<label>Nome do Autor</label>
			<input type="text" id="autorName" name="autorName" placeholder="Nome do autor"></input>
		    
		</br>
			<label>Data dos Fatos</label>
			<input type="date" id="data_noticia" name="data_noticia"></input>
		    
		</br>
		</br>
			<label>Data de Publicação</label>
			<input type="date" id="data_criacao" name="data_criacao"></input>
		    
		</br>
			<label>notícia</label>
			
		</br>
			<textarea name="noticia" id="noticia" cols="21" rows="10" placeholder="Descreva a Notícia"></textarea>></textarea>
			
		</br> 
			<input type="submit" value="Enviar"/>

		</form>


	</body>
</html>